<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorApp2</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="saludo">
                <span class="bi bi-chat-dots-fill" aria-hidden="true"></span> Saludo
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Ciclos">
                <span class="bi bi-list-nested" aria-hidden="true"></span> Ciclos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Cambio">
                <span class="bi bi-list-nested" aria-hidden="true"></span> Cambio de Moneda
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="DiasMes">
                <span class="bi bi-list-nested" aria-hidden="true"></span> Dias del Mes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Numeros">
                <span class="bi bi-list-nested" aria-hidden="true"></span> Calcular Numeros
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="NumerosPrimos">
                <span class="bi bi-list-nested" aria-hidden="true"></span> Calcular Primos
            </NavLink>
        </div>

                <div class="nav-item px-3">
            <NavLink class="nav-link" href="alumnos">
                <span class="bi bi-list-nested" aria-hidden="true"></span> Alumnos
            </NavLink>
        </div>


    </nav>
</div>
